button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  width: 9.375rem;
  height: 3.75rem;
  border: none;
  border-radius: 0.6rem;
  background-color: var(--color-primary);
  color: #e6e5e0;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #e6e5e0;
  color: var(--color-primary);
  font-weight: 400;
}
