@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --color-primary: #282929;
  --color-primary-transparent: #2829294b;
  --color-secondary: #d14070;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  display: flex;
  background-color: #e6e5e0;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--color-primary);
}

h1 {
  font-weight: 400;
}
