.text-header-purchase {
  text-align: center;
  margin-top: 3%;

  p {
    padding-top: 0.7rem;
    letter-spacing: 5px;
    font-size: 1rem;
  }
}

.purchase-detail {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
