.items {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  transition: 1.4s ease-in;
  margin-bottom: 12rem;
  margin-top: 4rem;
}

.items-category {
  letter-spacing: 0.5rem;
}

.item-btn {
  background-color: transparent;
  border: none;
}

.card-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 300px;
  font-size: 1.1rem;
  line-height: 25px;
  font-weight: 500;

  img {
    height: 400px;
    width: 300px;
    object-fit: cover;
  }
}

.card-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.info-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}

.category {
  color: rgba(0, 0, 0, 0.445);
  text-transform: uppercase;
}

.price {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 120%;
}
