.back-btn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.back-btn:hover {
  color: var(--color-secondary);
}
